@(messages: java.util.ArrayList[ChatMessage])
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Chat-Nachrichten</h3>
        </div>
        <table class="table table-striped">
            @messages.size() match {
                case 0 => {
                    <td> There are no messages yet! </td>
                }
                case _ => {
                    @for(msg <- messages) {
                        <tr>
                            <td> @msg.user:</td>
                            <td> @msg.msg</td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>