@(messages: java.util.ArrayList[ChatMessage])

@main("Chat-Beispiel") {
    <div class="col-md-4 col-md-offset-4 buffer">
        <div class="input-group">
            <input type="text" class="form-control" id="messageTf" placeholder="Enter your message">
            <span class="input-group-btn">
                <button class="btn btn-success" id="sendBtn" type="button">Send!</button>
            </span>
        </div>
    </div>
    <div id="chatHistory">
        @chatMessages(messages)
    </div>
}
